google-generativeai
google-genai
requests
pygame
pyttsx3
edge-tts
pyautogui
SpeechRecognition
PyAudio
send2trash
pycaw
comtypes
flask
flask-cors
pywebview
psutil
sounddevice
numpy
mss
pillow
opencv-python
duckduckgo-search